MiiBot.csproj
obj/MiiBot.csproj.nuget.dgspec.json
obj/MiiBot.csproj.nuget.g.props
obj/MiiBot.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/MiiBot.AssemblyInfo.cs
obj/Debug/net7.0/MiiBot.AssemblyInfoInputs.cache
obj/Debug/net7.0/MiiBot.assets.cache
obj/Debug/net7.0/MiiBot.csproj.AssemblyReference.cache
obj/Debug/net7.0/MiiBot.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/MiiBot.GlobalUsings.g.cs
bin/Debug/net7.0/MiiBot.deps.json
bin/Debug/net7.0/MiiBot.dll
bin/Debug/net7.0/MiiBot.exe
bin/Debug/net7.0/MiiBot.pdb
bin/Debug/net7.0/MiiBot.runtimeconfig.json
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/MiiBot.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/MiiBot.csproj.FileListAbsolute.txt
obj/Debug/net7.0/MiiBot.dll
obj/Debug/net7.0/MiiBot.genruntimeconfig.cache
obj/Debug/net7.0/MiiBot.pdb
obj/Debug/net7.0/ref/MiiBot.dll
obj/Debug/net7.0/refint/MiiBot.dll
bin/Debug/net7.0/Discord.Net.Commands.dll
bin/Debug/net7.0/Discord.Net.Core.dll
bin/Debug/net7.0/Discord.Net.Interactions.dll
bin/Debug/net7.0/Discord.Net.Rest.dll
bin/Debug/net7.0/Discord.Net.Webhook.dll
bin/Debug/net7.0/Discord.Net.WebSocket.dll
bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net7.0/Newtonsoft.Json.dll
bin/Debug/net7.0/System.Interactive.Async.dll
bin/Debug/net7.0/System.Linq.Async.dll
bin/Debug/net7.0/System.Reactive.dll
obj/Debug/net7.0/MiiBot.csproj.CopyComplete